body{
    min-height: 110vh;
    min-width: auto;
    background-image: url("pictures/cardBackGroudIMG/QC_WEBSITE_BODY.png");
    background-repeat: no-repeat;
    background-size:cover; 
}
h1,
h2,
h3,
p{
    margin:0%;
}
#cardHolder{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:auto;
    padding:auto;
    padding-top: 50px;
    width: 70vw;
    max-width: 1344px;;
    height: auto;
    background-color: transparent;
}
.card{
    position: relative;
    width: 352px;
    height: 472px;
    border-radius: 10px;
    margin-bottom: 70px;
    box-sizing: border-box;
}
.cardFront{
    transition: 1000ms;
}
.playerImg{
    width: 350px;
     height: auto;
     border-radius: 10px;
     transition: 150ms;
     border: solid 1px rgba(163, 153, 86, 0.473);

    }
.cardBackGround{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background-image: url("pictures/cardBackGroudIMG/QC_WEBSITE_TOPHALF.png");
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    transform: scale(.5);
    opacity: 0;
    transition: 1000ms;
}
.playerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color:white;
}
.card:hover{
 border: none;
 cursor:pointer;
}
.card:hover .cardBackGround {
    transition:
    transform 500ms,
    opacity 100ms linear;
    opacity: 1;
    transform: scale(1, 1.1);
    box-shadow: 0px 0px 5px 6px rgba(163, 153, 86, 0.473);  
}
.card:hover .cardFront {
    transform: translateY(-15%);
    
}
.card:hover .playerImg {
    transform: scale(.8);
    box-shadow: 0px 0px 5px 6px rgba(163, 153, 86, 0.473);   
}
.modalCont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    position: fixed;
    visibility: hidden;
    opacity: 1;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.show{
    visibility: visible;
    opacity: 1;
 }
 
 #modal1{
     display:flex;
     height: 500px;
     width: 1000px;
     border: transparent;
     border-radius: 9px;
     border-width: 1px;
     background-image: url("pictures/cardBackGroudIMG/QC_WEBSITE_TOPHALF.png");
     box-shadow: 0px 0px 5px 6px rgba(163, 153, 86, 0.473); 
     color: white;
 }
 #modalInfoHolder{
     display: flex;
     flex-direction: row;
     margin: 10px;
     
 }
 #playerImgModal{
    width: 350px;
    height: auto;
    border-radius: 15px ;
    border: solid 1px rgba(163, 153, 86, 0.473);
 }
 